<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="pt-BR">
<head th:replace="fragments/header :: header">
</head>
<body>

<div th:replace="private/menu :: menu"></div>

<div class="tela-conteudo">
	<form th:action="@{/admParametroCategoriaMB/salvar}" method="post" th:object="${bean}">
		<div class="panel panel-default">
			<div class="panel-heading" 
				style="font-weight: bold;font-size: large;">
				Categoria dos Parâmetros de Configuração
			</div>
			<div class="panel-body">			
				<div class="form-actions">
				
					<button type="submit" class="btn btn-success" id="btnSalvar" label="Salvar uma categoria dos parâmetros de configuração">
						<span class="glyphicon glyphicon-ok-sign"></span> Salvar
					</button>
				
					<button type="reset" class="btn btn-primary" id="btnLimpar" label="Limpar Campos">
						<span class="glyphicon glyphicon-star"></span> Limpar
					</button>

					<button type="button" class="btn btn-primary" id="btnCancelar" label="Cancelar" onclick="window.location.href='/admParametroCategoriaMB/listar'">
						<span class="glyphicon  glyphicon-remove-sign"></span> Cancelar
					</button>
				</div>

				<th:block th:include="mensagemValidacao"></th:block>
				
				<div class="row">
					<div class="col-md-4 form-group">
						<label for="descricao">Descrição:</label>
						<input type="hidden" class="form-control" id="id" name="id" th:value="${bean.id}">
						<input type="text" class="form-control" id="descricao" name="descricao" maxlength="80" th:value="${bean.descricao}">
						<input type="hidden" class="form-control" id="ordem" name="ordem" th:value="${bean.ordem}">
						<!--
						<input type="text" class="form-control" id="descricao" name="descricao" maxlength="80" th:field="*{descricao}">
						--> 
					</div>
				</div>
				
			</div>
		</div>
	</form>	
</div>

</body>
</html>
	