<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="pt-BR">
<head th:replace="fragments/header :: header">
</head>
<body>

<div th:replace="private/menu :: menu"></div>

<div class="tela-conteudo" style="margin:5px 0;">
	<form id="listarAdmParametroCategoria">

		<div class="card">
			<div class="card-header" 
				style="font-weight: bold;font-size: large;">
				Categoria dos Parâmetros de Configuração
			</div>
			<div class="card-body">				
				<div class="row">
					<th:block th:include="/private/panelRelatorio"></th:block>					
				</div>
			</div>
		</div>

		<div class="form-actions" style="margin:5px 0;">
			<button type="button" class="btn btn-primary btn-icon-split" id="btnExportar">
				<span class="icon text-white-50">
					<i class="fa fa-file"></i>
				</span>
				<span class="text">Exportar</span>
			</button>			
			<button type="button" class="btn btn-success btn-icon-split" id="btnIncluir">
				<span class="icon text-white-50">
					<i class="fa fa-plus-circle"></i>
				</span>
				<span class="text">Incluir</span>
			</button>			
			<button type="button" class="btn btn-warning btn-icon-split" id="btnEditar">
				<span class="icon text-white-50">
					<i class="fa fa-chevron-circle-up"></i>
				</span>
				<span class="text">Editar</span>
			</button>			
			<button type="button" class="btn btn-danger btn-icon-split" id="btnExcluir">
				<span class="icon text-white-50">
					<i class="fa fa-minus-circle"></i>
				</span>
				<span class="text">Excluir</span>
			</button>			
			<button type="button" class="btn btn-primary btn-icon-split" id="btnVoltar">
				<span class="icon text-white-50">
					<i class="fa fa-arrow-circle-left"></i>
				</span>
				<span class="text">Voltar</span>
			</button>			
		</div>

		<div id="dlgDeleteConfirmation" title="Confirmação" style="display: none;">
		    <p>Confirma exclusão?</p>
		</div>

		<div id="tabelaAdmParametroCategoria"></div>
	</form>
</div>

<script src="/js/admin/listarAdmParametroCategoria.js"></script>

</body>
</html>
