<div class="col-md-3 form-group">		
	<label for="cmbTipoRelatorio">Escolha o tipo de relat&oacute;rio:</label>
	<select class="form-control" id="cmbTipoRelatorio" label="Tipo de relatório">
	 	<optgroup th:each="grupo : ${listaTipoRelatorio}" th:label="${grupo.grupo}">
	 		<option th:each="opcao : ${grupo.tipos}" th:value="${opcao}">
	 			<span th:text="${opcao.descricao}" th:remove="tag"></span>
	 		</option>
	    </optgroup>
	</select>
</div>
<div class="col-md-3 form-group">
	<label class="checkbox-inline" for="forcaDownload"><input type="checkbox" id="forcaDownload">For&ccedil;ar Download</label>
</div>
