<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="pt-BR">
<head th:replace="fragments/header :: header">
</head>
<body>

<script>
	$(document).ready(function(){
		hfsPickListIniciar("pagina");
		hfsPickListIniciar("usuarios");
	});
</script>

<div th:replace="private/menu :: menu"></div>

<div class="tela-conteudo">
	<form th:action="@{/admPerfilMB/salvar}" method="post" th:object="${bean}">
		<div class="panel panel-default">
			<div class="panel-heading" 
				style="font-weight: bold;font-size: large;">
				Administrar Perfil
			</div>
			<div class="panel-body">			
				<div class="form-actions">
				
					<button type="submit" class="btn btn-success" id="btnSalvar">
						<span class="glyphicon glyphicon-ok-sign"></span> Salvar
					</button>
				
					<button type="reset" class="btn btn-primary" id="btnLimpar" label="Limpar Campos">
						<span class="glyphicon glyphicon-star"></span> Limpar
					</button>

					<button type="button" class="btn btn-primary" id="btnCancelar" label="Cancelar" onclick="window.location.href='/admPerfilMB/listar'">
						<span class="glyphicon  glyphicon-remove-sign"></span> Cancelar
					</button>
				</div>

				<div class="row">
					<div class="col-md-4 form-group">
						<input type="hidden" class="form-control" id="id" name="id" th:field="*{id}">
					
						<label for="descricao">Descrição:</label>
						<input type="text" class="form-control" id="descricao" label="Descrição" maxlength="80" th:field="*{descricao}">
					</div>
					<div class="col-md-3 form-group">
						<div class="row">
							<label class="checkbox-inline" for="geral"><input type="checkbox" id="geral" th:field="*{geral}">Todos os Usuários</label>
						</div>
						<div class="row">
							<label class="checkbox-inline" for="admin"><input type="checkbox" id="admin" th:field="*{administrador}">Administradores do Sistema</label>
						</div>
					</div>
				</div>

				<div class="row">
				
					<!--  pickList_usuarios -->
					<div class="col-md-5" id="pickList_usuarios">
						<div class="row">
							<div class="col-md-11">
								<label style="width:100%;" class="tema-principal">Usuário(s) do Perfil:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								<div class="input-group">
									<input type="text" class="form-control" maxlength="20" id="pickListPesquisa1_usuarios" placeholder="Pesquisar...">
									<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
								</div>								
							</div>
							<div class="col-md-1">
								
							</div>
							<div class="col-md-5">
								<div class="input-group">
									<input type="text" class="form-control" maxlength="20" id="pickListPesquisa2_usuarios" placeholder="Pesquisar...">
									<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
								</div>
							</div>
						</div>
						<div class="row" style="height: 5px">
						</div>
						<div class="row">
							<div class="col-md-5">
								<label for="pickListValor1_usuarios" style="width:100%;" class="tema-principal">Disponíveis</label>
								<select class="form-control" multiple="multiple" size="10" id="pickListValor1_usuarios">
							 		<option th:each="item : ${dualListAdmUsuario.source}" th:value="${item.id}" th:text="${item.nome}">
							 		</option>
								</select>
							</div>
							<div class="col-md-1">
								<div style="height: 50px"></div>
								<div class="btn-group-vertical">
									<button type="button" class="btn btn-default" id="pickListBtnAdicionar_usuarios">
										<span class="glyphicon glyphicon-forward"></span>
									</button>
									<button type="button" class="btn btn-default" id="pickListBtnTodosAdicionar_usuarios">
										<span class="glyphicon glyphicon-fast-forward"></span>
									</button>
									<button type="button" class="btn btn-default" id="pickListBtnRemover_usuarios">
										<span class="glyphicon glyphicon-backward"></span>
									</button>
									<button type="button" class="btn btn-default" id="pickListBtnTodosRemover_usuarios">
										<span class="glyphicon glyphicon-fast-backward"></span>
									</button>
								</div>
							</div>
							<div class="col-md-5">
								<label for="pickListValor2_usuarios" style="width:100%;" class="tema-principal">Autorizadas</label>
								<select class="form-control" multiple="multiple" size="10" id="pickListValor2_usuarios" th:field="*{admUsuarios}">
							 		<option th:each="item : ${dualListAdmUsuario.target}" th:value="${item.id}" th:text="${item.nome}" th:field="*{admUsuarios}">
							 		</option>
								</select>
							</div>
						</div>
					</div>
					
				</div>
				
				<div class="row" style="height: 20px">
				</div>

				<div class="row">
				
					<!--  pickList_pagina -->
					<div class="col-md-5" id="pickList_pagina">
						<div class="row">
							<div class="col-md-11">
								<label style="width:100%;" class="tema-principal">Página(s) do Perfil:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								<div class="input-group">
									<input type="text" class="form-control" maxlength="20" id="pickListPesquisa1_pagina" placeholder="Pesquisar...">
									<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
								</div>								
							</div>
							<div class="col-md-1">
								
							</div>
							<div class="col-md-5">
								<div class="input-group">
									<input type="text" class="form-control" maxlength="20" id="pickListPesquisa2_pagina" placeholder="Pesquisar...">
									<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
								</div>
							</div>
						</div>
						<div class="row" style="height: 5px">
						</div>
						<div class="row">
							<div class="col-md-5">
								<label for="pickListValor1_pagina" style="width:100%;" class="tema-principal">Disponíveis</label>
								<select class="form-control" multiple="multiple" size="10" id="pickListValor1_pagina">
							 		<option th:each="item : ${dualListAdmPagina.source}" th:value="${item.id}" th:text="${item.url}">
							 		</option>
								</select>
							</div>
							<div class="col-md-1">
								<div style="height: 50px"></div>
								<div class="btn-group-vertical">
									<button type="button" class="btn btn-default" id="pickListBtnAdicionar_pagina">
										<span class="glyphicon glyphicon-forward"></span>
									</button>
									<button type="button" class="btn btn-default" id="pickListBtnTodosAdicionar_pagina">
										<span class="glyphicon glyphicon-fast-forward"></span>
									</button>
									<button type="button" class="btn btn-default" id="pickListBtnRemover_pagina">
										<span class="glyphicon glyphicon-backward"></span>
									</button>
									<button type="button" class="btn btn-default" id="pickListBtnTodosRemover_pagina">
										<span class="glyphicon glyphicon-fast-backward"></span>
									</button>
								</div>
							</div>
							<div class="col-md-5">
								<label for="pickListValor2_pagina" style="width:100%;" class="tema-principal">Autorizadas</label>
								<select class="form-control" multiple="multiple" size="10" id="pickListValor2_pagina" th:field="*{admPaginas}">
							 		<option th:each="item : ${dualListAdmPagina.target}" th:value="${item.id}" th:text="${item.url}" th:field="*{admPaginas}">
							 		</option>
								</select>
							</div>
						</div>
					</div>
				
				</div>
				
			</div>
		</div>
	</form>
</div>

</body>
</html>
	