<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="pt-BR">
<body>
	
<div th:fragment="menu">	

<script>
	$(document).ready(function(){
		 $.ajax({
		        url: "/sistemaMenus"
		    }).then(function(listaMenus) {
		    	var menus = "";
		    	var submenu = "";
		    	
		    	//var html = $('#barraNavegacao').html();
				$('#barraNavegacao').empty();
				
				for (i=0; i < listaMenus.length; i++){
					
					menus += "<li class='dropdown'>";
					menus += "	<a class='dropdown-toggle' data-toggle='dropdown' href='#'>"+listaMenus[i].descricao+"<span class='caret'></span></a>";
					menus += "	<ul class='dropdown-menu'>";
					
					for (j=0; j < listaMenus[i].subMenus.length; j++){
						submenu = listaMenus[i].subMenus[j];
						menus += "	  <li><a href='/"+submenu.url+"?id="+submenu.id+"'>"+submenu.descricao+"</a></li>";
					}
					
					menus += "	</ul>";
					menus += "</li>";					
				}
				
				menus += "<li><a href='/alterarSenhaMB/listar'>Alterar Senha</a></li>";
				menus += "<li><a href='/logout'><img class='imagem-inverte' src='/img/sair.png' alt='Sair' />Sair</a></li>";					
												
				$('#barraNavegacao').append(menus);
				
		    });        
	});
</script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
	  <a class="navbar-brand" href="/">HFS Framework</a>
    </div>
    <ul class="nav navbar-nav" id="barraNavegacao" >

    </ul>
	
	<ul class="nav navbar-nav pull-right"
		style="display: inline-block; padding-top: 15px; font-size: 90%">
		<li>
				<small> 
					<span id="informacoes-usuario" style="color: lightgray">Sessão expira: 
						<span id="dialog-countdown-geral"></span>
						<i class="glyphicon glyphicon-user"></i> 
						<a data-toggle="modal" data-target="#infoUsuarioDialog" style="cursor: pointer; cursor: hand; text-decoration: none;">henrique.souza</a>
					</span>
				</small>
			
			</li>
	</ul>
	
  </div>
</nav>

<div class="tela-conteudo">
	<div class="alert alert-danger alert-dismissable fade in" id="alert-messages" style="display:none;">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Favor selecionar um registro da tabela para proceder esta ação.</strong>
	</div>
</div>

<div th:replace="sessionTimeOut :: sessaoSistema"></div>
	
<div th:replace="private/infoUsuario :: infoUsuario"></div>

</div>
	
</body>
</html>
