<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="pt-BR">
<head th:replace="fragments/header :: header">
</head>
<body>

<div th:replace="private/menu :: menu"></div>

<div class="tela-conteudo">
	<form th:action="@{/admSetorMB/salvar}" method="post" th:object="${bean}">
		<div class="panel panel-default">
			<div class="panel-heading" 
				style="font-weight: bold;font-size: large;">
				Administrar os Setores
			</div>
			<div class="panel-body">			
				<div class="form-actions">
				
					<button type="submit" class="btn btn-success" id="btnSalvar" label="Salvar um setor">
						<span class="glyphicon glyphicon-ok-sign"></span> Salvar
					</button>
				
					<button type="reset" class="btn btn-primary" id="btnLimpar" label="Limpar Campos">
						<span class="glyphicon glyphicon-star"></span> Limpar
					</button>

					<button type="button" class="btn btn-primary" id="btnCancelar" label="Cancelar" onclick="window.location.href='/admSetorMB/listar'">
						<span class="glyphicon  glyphicon-remove-sign"></span> Cancelar
					</button>
				</div>

				<div class="row">
					<div class="col-md-2 form-group">
						<label for="sigla">Sigla:</label>
						<input type="text" class="form-control" id="sigla" label="Sigla" maxlength="10" th:field="*{id}">
					</div>
					<div class="col-md-6 form-group">
						<label for="nome">Nome:</label>
						<input type="text" class="form-control" id="nome" label="Nome" maxlength="255" th:field="*{nomeSetor}">
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 form-group">
						<label for="tipoSetor">Tipo de Setor:</label>
						<input type="text" class="form-control" id="tipoSetor" label="Tipo de Setor" maxlength="10" th:field="*{tipoSetor}">
					</div>
				</div>
				
			</div>
		</div>
	</form>
</div>

</body>
</html>
	