<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="pt-BR">
<head th:replace="fragments/header :: header">
</head>
<body>

<th:block th:include="/private/admin/admFuncionario/admFuncionarioCargosDialog"></th:block>

<script>
	$(document).ready(function(){
		hfsDatatablesIniciar("AdmFuncionario", 6);
	});
	
	$('#admFuncionarioCargosDialog').on('show.bs.modal', function(e) {
	    var id = $(e.relatedTarget).data('id');
	    	    
		 $.ajax({
		        url: "/admFuncionarios/"+id
		    }).then(function(data) {
		    	//var tabelaFuncionario = $(e.currentTarget).find('table[id="tabelaFuncionario"]');
		    	$("#tabelaFuncionarioDlg-matricula").empty();
		    	$("#tabelaFuncionarioDlg-nome").empty();
		    	$("#tabelaFuncionarioDlg-cpf").empty();
		    	$("#tabelaFuncionarioDlg-email").empty();
		    	$("#tabelaFuncionarioDlg-telefone").empty();
		    	$("#tabelaFuncionarioDlg-celular").empty();
		    	$("#tabelaFuncionarioDlg-setor").empty();
		    	$("#tabelaFuncionarioDlg-cargoPrincipal").empty();
		    	$("#tabelaFuncionarioDlg-dataAdmissao").empty();
		    	$("#tabelaFuncionarioDlg-dataSaida").empty();
		    			    	
		    	$("#tabelaFuncionarioDlg-matricula").append(data.id);
		    	$("#tabelaFuncionarioDlg-nome").append(data.nome);
		    	$("#tabelaFuncionarioDlg-cpf").append(data.cpfFormatado);
		    	$("#tabelaFuncionarioDlg-email").append(data.email);
		    	$("#tabelaFuncionarioDlg-telefone").append(data.telefone);
		    	$("#tabelaFuncionarioDlg-celular").append(data.celular);
		    	$("#tabelaFuncionarioDlg-setor").append(data.setor);
		    	$("#tabelaFuncionarioDlg-cargoPrincipal").append(data.admCargoPrincipal.nomeCargo);
		    	$("#tabelaFuncionarioDlg-dataAdmissao").append(data.dataAdmissaoFormatada);
		    	$("#tabelaFuncionarioDlg-dataSaida").append(data.dataSaidaFormatada);
		    });        
	    	    
	    
		 $.ajax({
		        url: "/admCargos/findCargoByCodFuncionario/"+id
		    }).then(function(data) {
			    var cmbCargosFuncionario = $(e.currentTarget).find('select[name="cmbCargosFuncionario"]');
			    cmbCargosFuncionario.empty();
			    for (i = 0; i < data.length; i++) { 
			    	cmbCargosFuncionario.append($('<option>', { value : data[i].id }).text(data[i].nomeCargo));
			    }
		    });        
	    
	});
	
	$('#admFuncionarioCargosDialog').on('hide.bs.modal', function(e) {
		//var tabelaFuncionario = $(e.currentTarget).find('table[id="tabelaFuncionario"]');
		//tabelaFuncionario.DataTable().clear().draw( false );
	});
	
</script>

<div th:replace="private/menu :: menu"></div>

<div class="tela-conteudo">
	<form id="listarAdmFuncionario">

		<div class="panel panel-default">
			<div class="panel-heading" 
				style="font-weight: bold;font-size: large;">
				Administrar os Funcionários
			</div>
			<div class="panel-body">				
				<div class="row">
					<th:block th:include="/private/panelRelatorio"></th:block>
				</div>
			</div>					
		</div>

		<div class="form-actions">
			<button type="button" class="btn btn-primary" id="btnExportar" onclick="window.open('exportar/'+$('#cmbTipoRelatorio').val()+'/'+$('#forcaDownload')[0].checked,'_blank')">
				<span class="glyphicon glyphicon-print"></span> Exportar
			</button>
			
			<button type="button" class="btn btn-success" id="btnIncluir" label="Incluir um novo cargo" onclick="window.location.href='incluir'">
				<span class="glyphicon glyphicon-plus-sign"></span> Incluir
			</button>
		
			<button type="button" class="btn btn-warning" id="btnEditar" label="Editar um cargo" onclick="hfsDatatablesEditar('AdmFuncionario')">
				<span class="glyphicon glyphicon-edit"></span> Editar
			</button>
		
			<button type="button" class="btn btn-danger" id="btnExcluir" label="Excluir um cargo" onclick="hfsDatatablesExcluir('AdmFuncionario')">
				<span class="glyphicon glyphicon-minus-sign"></span> Excluir
			</button>

			<button type="button" class="btn btn-primary" id="btnVoltar" label="Voltar" onclick="window.location.href='/'">
				<span class="glyphicon glyphicon-circle-arrow-left"></span> Voltar
			</button>
		</div>
		
		<table id="tabelaAdmFuncionario"
			class="table table-striped table-bordered" cellspacing="0"
			width="100%">				
			<thead>
				<tr class="tema-principal">
				  <th>Matr&iacute;cula</th>
				  <th>Nome</th>
				  <th>CPF</th>
				  <th>E-mail</th>
				  <th>Setor</th>
				  <th>Cargo Principal</th>
				  <td></td>
				</tr>	
			</thead>
			<tbody>
			 	<tr th:each="item : ${listaBean}">
					<td th:text="${item.id}"></td>					
			 		<td th:text="${item.nome}"></td>
			 		<td th:text="${item.cpfFormatado}"></td>
			 		<td th:text="${item.email}"></td>
			 		<td th:text="${item.setor}"></td>
			 		<td th:text="${item.admCargoPrincipal.nomeCargo}"></td>
			 		<td style="width:50px;text-align: center;">
			 			<button type="button" class="btn btn-info" style="font-size:4px" data-toggle="modal" th:data-id="${item.id}" data-target="#admFuncionarioCargosDialog">
			 				<span class="glyphicon glyphicon-search" style="font-size:8px"></span>
			 			</button>
			 		</td>
			    </tr>			
			</tbody>
		</table>
			
	</form>
</div>

</body>
</html>
