<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="pt-BR">
<head th:replace="fragments/header :: header">
</head>
<body>

<script>
	$(document).ready(function(){
		hfsPickListIniciar("perfil");
	});	
</script>

<div th:replace="private/menu :: menu"></div>

<div class="tela-conteudo">
	<form th:action="@{/admPaginaMB/salvar}" method="post" th:object="${bean}">
		<div class="panel panel-default">
			<div class="panel-heading" 
				style="font-weight: bold;font-size: large;">
				Administrar Página
			</div>
			<div class="panel-body">			
				<div class="form-actions">
				
					<button type="submit" class="btn btn-success" id="btnSalvar">
						<span class="glyphicon glyphicon-ok-sign"></span> Salvar
					</button>
				
					<button type="reset" class="btn btn-primary" id="btnLimpar" label="Limpar Campos">
						<span class="glyphicon glyphicon-star"></span> Limpar
					</button>

					<button type="button" class="btn btn-primary" id="btnCancelar" label="Cancelar" onclick="window.location.href='/admPaginaMB/listar'">
						<span class="glyphicon  glyphicon-remove-sign"></span> Cancelar
					</button>
				</div>

				<div class="row">
					<div class="col-md-7 form-group">
						<input type="hidden" class="form-control" id="id" name="id" th:field="*{id}">
					
						<label for="pagina">Página:</label>
						<input type="text" class="form-control" id="pagina" label="Página" maxlength="255" th:field="*{url}">
					</div>
				</div>
				<div class="row">
					<div class="col-md-7 form-group">			
						<label for="classePagina">Descri&ccedil;&atilde;o:</label>
						<input type="text" class="form-control" id="descricao" label="Descrição" maxlength="255" th:field="*{descricao}">
					</div>
				</div>

				<div class="row">
				
					<!--  pickList_perfils -->
					<div class="col-md-5" id="pickList_perfil">
						<div class="row">
							<div class="col-md-11">
								<label style="width:100%;" class="tema-principal">Perfil(s) da Pagina:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								<div class="input-group">
									<input type="text" class="form-control" maxlength="20" id="pickListPesquisa1_perfil" placeholder="Pesquisar...">
									<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
								</div>								
							</div>
							<div class="col-md-1">
								
							</div>
							<div class="col-md-5">
								<div class="input-group">
									<input type="text" class="form-control" maxlength="20" id="pickListPesquisa2_perfil" placeholder="Pesquisar...">
									<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
								</div>
							</div>
						</div>
						<div class="row" style="height: 5px">
						</div>
						<div class="row">
							<div class="col-md-5">
								<label for="pickListValor1_perfil" style="width:100%;" class="tema-principal">Disponíveis</label>
								<select class="form-control" multiple="multiple" size="10" id="pickListValor1_perfil">
							 		<option th:each="item : ${dualListAdmPerfil.source}" th:value="${item.id}" th:text="${item.descricao}">
							 		</option>
								</select>
							</div>
							<div class="col-md-1">
								<div style="height: 50px"></div>
								<div class="btn-group-vertical">
									<button type="button" class="btn btn-default" id="pickListBtnAdicionar_perfil">
										<span class="glyphicon glyphicon-forward"></span>
									</button>
									<button type="button" class="btn btn-default" id="pickListBtnTodosAdicionar_perfil">
										<span class="glyphicon glyphicon-fast-forward"></span>
									</button>
									<button type="button" class="btn btn-default" id="pickListBtnRemover_perfil">
										<span class="glyphicon glyphicon-backward"></span>
									</button>
									<button type="button" class="btn btn-default" id="pickListBtnTodosRemover_perfil">
										<span class="glyphicon glyphicon-fast-backward"></span>
									</button>
								</div>
							</div>
							<div class="col-md-5">
								<label for="pickListValor2_perfil" style="width:100%;" class="tema-principal">Autorizadas</label>
								<select class="form-control" multiple="multiple" size="10" id="pickListValor2_perfil" th:field="*{admPerfils}">
							 		<option th:each="item : ${dualListAdmPerfil.target}" th:value="${item.id}" th:text="${item.descricao}" th:field="*{admPerfils}">
							 		</option>
								</select>
							</div>
						</div>
					</div>				
										
				</div>
				
			</div>
		</div>
	</form>
</div>

</body>
</html>
	