<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="pt-BR">
<head th:fragment="header">
	<title>HFS Framework</title>
	<meta charset="utf-8" />
	<!-- <meta http-equiv="refresh" content="5" />	-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/datepicker.css" />
	<link rel="stylesheet" type="text/css" href="/css/datatables.min.css"/>
	
	<link rel="stylesheet" type="text/css" href="/css/sistema.css" />

	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/jquery.meio.mask.min.js"></script>
	<script src="/js/jquery.numeric.js"></script>

	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/bootstrap-datepicker.pt-BR.js"></script>
	
	<script src="/js/bootbox.min.js"></script>
	<script src="/js/sistema-session-timeout.js"></script>
	
	<script type="text/javascript" src="/js/datatables.min.js"></script>
	<script type="text/javascript" src="/js/sistema-datatables.js"></script>	
</head>
<body>
</body>
</html>
